@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link href=’https://fonts.googleapis.com/css?family = Didact Gothic’ rel=’stylesheet’>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Pacifico&family=Permanent+Marker&display=swap" rel="stylesheet">
<style>

    .permanent-marker-regular {
        font-family: "Permanent Marker", cursive;
        font-style: normal; 
    
    }
</style>

<div class="row justify-content-center">
   <div class="col-md-12 col-sm-12 col-lg-8"> 

        <section class="">

            <div class="container">

                <div class="row d-flex justify-content-center align-items-center h-50 mt-5 mb-5">

                    <div class=" col-sm-12 col-lg-12 col-xl-11">

                        <div class="box-shadow card text-black" style="border-radius: 25px;">

                            <div style="background-color:rgb(255, 251, 240)" class="card-signUp card-body p-md-6">

                                <div class="row row-cols-2 justify-content-center">

                                    <div class="col-sm-12 col-lg-6 col-xl-5 order-2 order-lg-1">

                                        <p style="font-size:3rem;" class="permanent-marker-regular text-center h1 fw-bold mb-5 mx-1 mx-md-4">Sign up !</p>
                                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                            <h2 class="permanent-marker-regular">Create a new account.</h2>
                                            <hr />
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                                <label asp-for="Input.Email">Email</label>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                <label asp-for="Input.Password">Password</label>
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>                               
                                        </form>
                                    </div>  
                                    
                                    <div class="col-lg-6 col-xl-7 d-flex align-items-center justify-content-center order-1 order-lg-2">
                                        <img style="opacity:0.8; min-width:90%; max-width: 100%; " src="~/image/scoobydo.png" />
                                        </div>                                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

